@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

html, body{
  margin: 0;
  padding: 0;
}
body{
  height: 1vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #004379;
  color: white;
  padding: 10rem;
  
  h1{ margin: 0;}
}
main{
  background-color: #e2e1e0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper{
  background-color: white;
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
  @media (min-width: 768px){
    width: 50vw;
    margin: 3rem;
  }
  
}


.payments{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.extra-info{
  
}
.alert{
    padding: 1rem;
    background-color: #CCD9E4;
    color: #666C72;
    display: flex;
    gap: 1rem;
    line-height: 1.2rem;
  p{
    line-height: 1.5rem;
    margin: 0;
  }
}

.box{
  border: 2px solid #004379;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  flex: 1;
  
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  a{
    color: #003865;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    
  }
  
  .icon-wrapper{
    flex: 1;
    margin-bottom: 2rem;
  }
  
}